.venv
metrics.csv
training.rar
datasets
evaluations/__pycache__
training/FEATURES.pkl
training/GRAFO_LABELLATO.graphml
training/LABELS.pkl
training/SLIC.nii.gz
training/DGL_graphs/TRAIN_dgl_graphs_fix2.bin
training/DGL_graphs/TRAIN_patient_ids_fix2.pkl
.gitignore
preprocessed_dataset_new
evaluations/__pycache__/compute_metrics.cpython-310.pyc
.DS_Store
full_dataset.pickle
training_metrics.csv
full_dataset_with_id.pickle
pickle_dataset
.env