.venv
metrics.csv
training.rar
datasets
evaluations/__pycache__
training/FEATURES.pkl
training/GRAFO_LABELLATO.graphml
training/LABELS.pkl
training/SLIC.nii.gz
training/DGL_graphs/TRAIN_dgl_graphs_fix2.bin
training/DGL_graphs/TRAIN_patient_ids_fix2.pkl
.gitignore
preprocessed_dataset_new
evaluations/__pycache__/compute_metrics.cpython-310.pyc
.DS_Store
full_dataset.pickle
training_metrics.csv
full_dataset_with_id.pickle
pickle_dataset
.env
full_dataset_with_id_006.pickle
model_epoch_25.pth
testing_metrics
.gitignore
model_epoch_25_graphSage.pth
00321_explanations/00321_percentile_explanation.png
00359_explanations/00359_edge_mask.pickle
00359_explanations/00359_feat_mask.pickle
00359_explanations/00359_feature_explanation.png
00359_explanations/00359_percentile_explanation.png
00395_explanations/00395_edge_mask.pickle
00395_explanations/00395_feat_mask.pickle
00395_explanations/00395_feature_explanation.png
00395_explanations/00395_percentile_explanation.png
01171_explanations/01171_edge_mask.pickle
01171_explanations/01171_feat_mask.pickle
01171_explanations/01171_feature_explanation.png
01171_explanations/01171_percentile_explanation.png
01284_explanations/01284_edge_mask.pickle
01284_explanations/01284_feat_mask.pickle
01284_explanations/01284_feature_explanation.png
01284_explanations/01284_percentile_explanation.png
01293_explanations/01293_edge_mask.pickle
01293_explanations/01293_feat_mask.pickle
01293_explanations/01293_feature_explanation.png
01293_explanations/01293_percentile_explanation.png
01462_explanations/01462_edge_mask.pickle
01462_explanations/01462_feat_mask.pickle
01462_explanations/01462_feature_explanation.png
01462_explanations/01462_percentile_explanation.png
00167_explanations/00167_edge_mask.pickle
00167_explanations/00167_feat_mask.pickle
00167_explanations/00167_feature_explanation.png
00167_explanations/00167_percentile_explanation.png
00336_explanations/00336_edge_mask.pickle
00336_explanations/00336_feat_mask.pickle
00336_explanations/00336_feature_explanation.png
00336_explanations/00336_percentile_explanation.png
00807_explanations/00807_edge_mask.pickle
00807_explanations/00807_feat_mask.pickle
00807_explanations/00807_feature_explanation.png
00807_explanations/00807_percentile_explanation.png
01049_explanations/01049_edge_mask.pickle
01049_explanations/01049_feat_mask.pickle
01049_explanations/01049_feature_explanation.png
01049_explanations/01049_percentile_explanation.png
01067_explanations/01067_edge_mask.pickle
01067_explanations/01067_feat_mask.pickle
01067_explanations/01067_feature_explanation.png
01067_explanations/01067_percentile_explanation.png
01356_explanations/01356_edge_mask.pickle
01356_explanations/01356_feat_mask.pickle
01356_explanations/01356_feature_explanation.png
01356_explanations/01356_percentile_explanation.png
01466_explanations/01466_edge_mask.pickle
01466_explanations/01466_feat_mask.pickle
01466_explanations/01466_feature_explanation.png
01466_explanations/01466_percentile_explanation.png
